<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/services.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/service-variants.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}" />
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23df196ab0.js" crossorigin="anonymous"></script>

    <title>Głodniaki - Historia zamówień</title>

</head>
<body>
<section id="main-container">
    <header class="top-bar">
        <a href="/client"><img th:src="@{/images/logo-transparent-colors.gif}" /></a>
        <button id="toggle-nav" onclick="showNav()"><i class="fas fa-bars fa-3x"></i></button>
    </header>

    <div id="side-nav">
        <button id="close-nav" onclick="closeNav()"><i class="fas fa-times fa-3x"></i></button>
        <div class="user-info" th:object="${client}">
            <img th:src="@{/images/default-user-icon.jpg}" width="100px" height="100px" />
            <p><span th:text="*{name}+' '+*{lastName}"></span> </p>
            <p><span style="font-size: .75rem;" th:text="*{user.email}"></span></p>
        </div>
        <div class="nav-items">
            <a href="/client/profile">Profil</a>
            <a href="/client/services">Oferta</a>
            <a class="active-item" href="/client/orders/history">Historia zamówień</a>
            <a href="/messages"> <span th:if="${client.user.messageCounter != 0}">(<span th:text="${client.user.messageCounter}"></span>)</span> Wiadomości</a>
            <a href="/client/settings">Ustawienia</a>
            <a class="bottom" href="/logout">Wyloguj</a>
        </div>
    </div>

    <section class="content-wrapper">
        <div class="content-main">
            <h1 style="font-size: 2rem;">Zamówienia</h1>
            <div class="order-entry" th:each="order : ${orders}">
                <h3>Zamówienie nr: <span th:text="${order.orderID}"></span></h3>
                <div class="order-service">
                    <p class="highlight" th:text="${order.serviceVariant.service.serviceName}"></p>
                    <a class="highlight description" th:text="${order.company.name}"
                       th:href="@{/client/company/profile/{companyID}(companyID=${order.company.companyID})}"></a>
                </div>
                <div class="date">
                    <p>Adres zamówienia:
                        <span class="description"
                              th:text="${order.address}"></span>
                    </p>
                    <p>Data Zamówienia:
                        <span class="description"
                              th:text="${#dates.format(order.orderDate,'yyyy-MM-dd')}"></span>
                    </p>
                    <p>Data zakończenia:
                        <span class="description"
                              th:text="${#dates.format(order.toDate,'yyyy-MM-dd')}"></span>
                    </p>
                </div>
                <div>
                <p style="font-weight: bold; margin-bottom: 1.5rem;"th:with="total=${order.serviceVariant.price*order.serviceVariant.dayNumber}">
                    Kwota: <span th:text="${total}"></span>zł
                </p>
                    <!--<a class="page-button" th:href="@{/client/orders/rate/new/{orderID}/(orderID=${order.orderID})}">Oceń firmę</a>-->
                    <a th:if="${order.rated == false}" class="page-button" th:href="@{/client/orders/rate/new/{orderID}/(orderID=${order.orderID})}" >Oceń firmę</a>
                    <a th:unless="${order.rated == false}" class="page-button" th:disabled="disabled">Oceniono</a>
                </div>
            </div>
        </div>
    </section>
</section>
<script th:src="@{/scripts/nav.js}"></script>
<script th:src="@{/scripts/services-company.js}"></script>
</body>
</html>