<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/services.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/service-variants.css}" />
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23df196ab0.js" crossorigin="anonymous"></script>
    <title>Głodniaki - Oferta</title>

</head>
<body>
<section id="main-container">
    <header class="top-bar">
        <a href="/company"><img th:src="@{/images/logo-transparent-colors.gif}" /></a>
        <button id="toggle-nav" onclick="showNav()"><i class="fas fa-bars fa-3x"></i></button>
    </header>

    <div id="side-nav">
        <button id="close-nav" onclick="closeNav()"><i class="fas fa-times fa-3x"></i></button>
        <div class="user-info" th:object="${company}">
            <img th:src="@{/images/default-user-icon.jpg}" width="100px" height="100px" />
            <p><span th:text="*{name}"></span> </p>
            <p th:object="${user}"><span style="font-size: .75rem;" th:text="${user.email}"></span></p>
        </div>
        <div class="nav-items">
            <a href="/company">Profil</a>
            <a href="/company/services">Oferta</a>
            <a href="/company/orders/history">Historia zamówień</a>
            <a href="/messages"> <span th:if="${user.messageCounter != 0}">(<span th:text="${user.messageCounter}"></span>)</span> Wiadomości</a>
            <a href="/company/settings">Ustawienia</a>
            <a class="bottom" href="/logout">Wyloguj</a>

        </div>
    </div>

    <section class="content-wrapper">
        <div class="content-main">
            <div th:object="${service.service}" class="service-card-big">
                <div class="service-info">
                    <img th:src="@{/images/indexBg.jpg}" style="margin-right:.5rem;" width="200px" height="150px" alt="">
                    <div>
                        <p class="service-name" th:text="*{serviceName}">Nazwa</p>
                        <p>Kategoria</p>
                        <p class="description" th:text="*{description}"></p>
                    </div>
                </div>
            </div>
            <h2>Warianty usługi</h2>
            <div class="variants" th:each="serviceVariant : ${service.serviceVariants}">
                <p><h3>Kalorie: </h3><span th:text="${serviceVariant.calories}"></span></p>
                <p><h3>Ilość dni: </h3><span th:text="${serviceVariant.dayNumber}"></span></p>
                <p><h3>Cena/dzień: </h3><span th:text="${serviceVariant.price}"></span></p>
                <div class="manage">
                <a th:href="@{/company/services/serviceVariant/delete/{serviceVariantID}(serviceVariantID=${serviceVariant.serviceVariantID})}">
                    <i class="fa fa-trash"></i>
                </a>
                </div>
            </div>
            <a th:href="@{variants/new}" class="page-button new-service"><i class="fa fa-plus"></i>Dodaj nowy</a>
        </div>
    </section>
</section>
<script th:src="@{/scripts/nav.js}"></script>
<script th:src="@{/scripts/services-company.js}"></script>
</body>
</html>