.content-main {
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    width: 50vw;
}

.service-card-big {
    align-self: center;
}

.variants {
    display: flex;
    flex-basis: 30%;
    flex-grow: 0;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    border: 2px solid var(--clr-primary);
    border-top: none;
    justify-content: space-between;
}

.manage {
    margin-right: .5rem;
}