.content-main {
    display: flex;
    flex-wrap: wrap;
}

.service-card {
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
}

.service-card > * {
    color: var(--clr-text-dark);
}

.service-name {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: .75rem;
}

.page-button {
    margin-top: 15px;
    border: 2px solid transparent;
    text-decoration: none;
    color: var(--clr-text);
    background: var(--clr-primary);
    padding: 5px;
}

.page-button > i {
    color: var(--clr-text);
    margin-right: 3px;
}

.page-button:hover {
    color: var(--clr-text-dark);
    background: var(--clr-secondary);
    border: 2px solid var(--clr-primary);
}

.page-button:hover>i {
    color: var(--clr-text-dark);
}