<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj usługę</title>
</head>
<body>
<form th:action="@{/services/add}" th:object="${serviceAndServiceVariant}" method="post">
    <table>
        <tr>
            <td><label for="serviceName">Nazwa</label><input type="text" th:field="*{service.serviceName}" id="serviceName"/></td>
            <td><label for="description">Opis</label><input type="text" th:field="*{service.description}" id="description"/></td>
        </tr>
        <tr th:each="serviceVariant, itemStat : *{serviceVariants}">
            <td><label for="calories">Liczba kalorii</label><input type="text" th:field="*{serviceVariants[__${itemStat.index}__].calories}" id="calories"/></td>
            <td><label for="price">Cena</label><input type="text" th:field="*{serviceVariants[__${itemStat.index}__].price}" id="price"/></td>
            <td><label for="dayNumber">Ilość dni</label><input type="text" th:field="*{serviceVariants[__${itemStat.index}__].dayNumber}" id="dayNumber"/></td>
        </tr>
        <tr><td><input type="submit" value="Akceptuj"></td></tr>
    </table>
</form>
</body>
</html>