<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/company.css" />
    <link rel="stylesheet" type="text/css" href="/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/css/categories.css" />
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23df196ab0.js" crossorigin="anonymous"></script>
    <title>Głodniaki - Nowa kategoria</title>

</head>
<body>
<section id="main-container">
    <header class="top-bar">
        <a href="*"><img src="/images/logo-transparent-colors.gif" /></a>
        <button id="toggle-nav" onclick="showNav()"><i class="fas fa-bars fa-3x"></i></button>
    </header>

    <div id="side-nav">
        <button id="close-nav" onclick="closeNav()"><i class="fas fa-times fa-3x"></i></button>
        <div class="user-info" th:object="${admin}">
            <img src="/images/default-user-icon.jpg" width="100px" height="100px" />
            <p><span th:text="*{name}+' '+*{lastName}"></span> </p>
            <p><span style="font-size: .75rem;" th:text="*{user.email}"></span></p>
        </div>
        <div class="nav-items">
            <a href="/admin/userlist">Lista użytkowników</a>
            <a href="/messages"> <span th:if="${admin.user.messageCounter != 0}">(<span th:text="${admin.user.messageCounter}"></span>)</span> Wiadomości</a>
            <a class="active-item" href="/admin/categories">Kategorie usług</a>
            <a href="index.html">Pomocy</a>
            <a class="bottom" href="/logout">Wyloguj</a>

        </div>
    </div>

    <section class="content-wrapper">
        <div class="content-main">
            <h1 style="font-size: 2rem; padding: 20px 30px;">Dodaj kategorię</h1>
            <form th:object="${category}" method="post">
                <div class="field-container long-field">
                    <label for="name">Nazwa</label>
                    <input class="field" type="text" id="name" th:field="*{name}" />
                </div>
                <input type="submit" value="Utwórz" />
            </form>
        </div>

    </section>
</section>
<script src="/scripts/nav.js"></script>
<script src="/scripts/form.js"></script>
</body>
</html>