<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h2>Twoje oceny</h2>
<table>
    <thead>
    <tr>
        <th>Usługa</th>
        <th>Ocena</th>
        <th>Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.serviceName}"></td>
        <td th:text="${service.averageRating}"></td>
        <td th:text="${service.description}"></td>
        <td><a th:href="@{/rates/rated/{serviceID}/(serviceID=${service.serviceID})}">Pokaż szczegóły</a></td>
    </tr>
    </tbody>
</table>
</body>