<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h2>Service Variants</h2>
<table>
    <thead>
    <tr>
        <th>Service</th>
        <th>Calories</th>
        <th>Price</th>
        <th>Number of days</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="serviceVariant : ${serviceVariant}">
        <td th:text="${serviceVariant.service.serviceID}"></td>
        <td th:text="${serviceVariant.calories}"></td>
        <td th:text="${serviceVariant.price}"></td>
        <td th:text="${serviceVariant.dayNumber}"></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/servicesvariant/new">Add new service variant</a></p>
</div>

</form>
</body>
