<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h2>Services</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${services}">
                <td th:text="${service.serviceName}"></td>
                <td th:text="${service.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/services/new">Add new service</a></p>
</div>

</form>
</body>
