<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h2>Services</h2>
<table>
    <thead>
    <tr>
        <th>Company</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.company.companyID}"></td>
        <td th:text="${service.serviceName}"></td>
        <td th:text="${service.description}"></td>
        <td><a th:href="@{/services/edit/{serviceID}(serviceID=${service.serviceID})}">Edit</a></td>
        <td><a th:href="@{/services/delete/{serviceID}(serviceID=${service.serviceID})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/services/new">Add new service</a></p>
</div>

</form>
</body>