<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/message-list.css" />
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23df196ab0.js" crossorigin="anonymous"></script>
    <title>Spring MVC demo app</title>
</head>
<body>
<section id="main-container">
    <header class="top-bar">
        <a href="/"><img src="/images/logo-transparent-colors.gif" /></a>
        <button id="toggle-nav" onclick="showNav()"><i class="fas fa-bars fa-3x"></i></button>
    </header>

    <div id="side-nav">
        <button id="close-nav" onclick="closeNav()"><i class="fas fa-times fa-3x"></i></button>
        <div class="user-info" th:object="${company}">
            <img src="images/default-user-icon.jpg" width="100px" height="100px" />
            <p><span th:text="*{name}"></span> </p>
            <p th:object="${user}"><span style="font-size: .75rem;" th:text="${user.email}"></span></p>
        </div>
        <div class="nav-items">
            <a href="/company">Profil</a>
            <a href="/company/services">Oferta</a>
            <a href="/company/orders/history">Historia zamówień</a>
            <a href="/messages">Wiadomości</a>
            <a href="/company/settings">Ustawienia</a>
            <a class="bottom" href="/logout">Wyloguj</a>

        </div>
    </div>
    <section class="content-wrapper">
        <div class="content-main">
            <div th:each="message : ${messagesFrom}" class="service-card-big">
                <div class="service-info">
                    <div>
                        <p class="service-name" th:text="${message.subject}"></p>
                        <p class="description" th:text="${message.contents}"></p>
                        <div class="user">Nadawca: <span th:text="${message.from.userName}"></span>, Odbiorca: <span th:text="${message.to.userName}"></span></div>
                        <p class="datetime" th:text="${message.datetime}"></p>
                        <div class="service-action">
                            <div class="manage">
                                <a th:href="@{/messages/delete/{id}(id=${message.messageID})}"><img border="0" alt="Usuń" src="/images/delete.png" width="32px" height="32px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="message : ${messagesTo}" class="service-card-big">
                <div class="service-info">
                    <div>
                        <p class="service-name" th:text="${message.subject}"></p>
                        <p class="description" th:text="${message.contents}"></p>
                        <div class="user">Nadawca: <span th:text="${message.from.userName}"></span>, Odbiorca: <span th:text="${message.to.userName}"></span></div>
                        <p class="datetime" th:text="${message.datetime}"></p>
                        <div class="service-action">
                            <div class="manage">
                                <a th:href="@{/messages/delete/{id}(id=${message.messageID})}"><img border="0" alt="Usuń" src="/images/delete.png" width="32px" height="32px"></a>
                                <a th:href="@{/messages/reply/{id}(id=${message.messageID})}"><img border="0" alt="Odpowiedz" src="/images/reply.png" width="32px" height="32px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
</section>
<script src="/scripts/nav.js"></script>
</body>
</html>