<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa wiadomość</title>
</head>
<body>
<form th:action="@{/messages/send}" th:object="${message}" method="post">
    <table>
        <tr>
            <!-- odbiorca: pobrane company -->
            <td><input type="hidden" th:field="*{to}" id="to"/></td>
            <td><input type="hidden" th:field="*{from}" id="from"/></td>
            <td><label for="subject">Temat</label><input type="text" th:field="*{subject}" id="subject"/></td>
            <td><label for="contents">Treść</label><input type="text" th:field="*{contents}" id="contents"/></td>
        </tr>
        <tr><td><input type="submit" value="Wyślij"></td></tr>
    </table>
</form>
</body>
</html>