<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form action="/company/register/" th:object="${user}" method="POST">
    <input type="text" th:field="*{userName}" placeholder="Login" />
    <input type="email" th:field="*{email}" placeholder="E-Mail" />
    <input type="password" th:field="*{password}" placeholder="Password" />
    <input type="text" th:field="*{companyName}" placeholder="Company Name" />
    <input type="text" th:field="*{nip}" placeholder="NIP" />
    <input type="text" th:field="*{regon}" placeholder="REGON" />
    <input type="text" th:field="*{websiteAddress}" placeholder="Website address" />

    <input type="submit" value="Create Account">
</form>

</body>
</html>