<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <nav>

    </nav>

    <section>

        <div th:object="${company}">

            <h2>Hello <span th:text="*{name}"></span>! You have average rating of <span th:text="*{averageRating}"></span> sucker!</h2>

            <p><a href="/services">Show services</a></p>

            <p><a href="/services/new">Add new service</a></p>

            <p><a href="/rates">Show rates</a></p>

        </div>

    </section>

    <footer>

    </footer>

</body>
</html>